root = true

# Unix-style, newlines, indent style of 2 spaces, with a newline ending every file.
[*.{e,h}rl]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
