%% -*- erlang -*-
{erl_opts, [debug_info]}.

{ct_opts, [{enable_builtin_hooks, false}]}.
%{ct_readable, false}.

{minimum_otp_vsn, "19.0"}.

{eunit_opts, [verbose]}.

{deps, [ {hut, "1.3.0"}
       ]}.

{profiles, [ {test, [{deps, [ {proper, "1.3.0"}
                            , {bear,   "0.8.7"}
                            ]}]}
           , {dev, [{plugins, [rebar3_hex]}]}
           ]}.
